<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>
        <h1>Locations Index Page</h1>

        <section class='locations-list'> 
            
            
            
         <% for (let i = 0; i < locations.length; i++) { %>
            <ul><%= locations[i].state %> 

                <% for (let j = 0; j < (locations[i].city).length; j++) { %>

                <li><a href="locations/<%= locations[i].city[j] %>"> <%= locations[i].city[j] %> </a></li>

                <% } %>

            </ul>
        <% } %>
        </section>
    </main>
    
</body>
</html>