<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>
        <h1>Locations Index Page</h1>

        <section class='locations-list'> 
            
            <!-- Hard coding locations for now, replace with locations model later w/ ejs syntax -->
            
         <% for (let i = 0; i < locations.length; i++) { %>
            <ul><%= locations[i].state %> 

                <% for (let j = 0; j < (locations[i].city).length; j++) { %>

                <li><a href="<%= locations[i].city[j] %>"> <%= locations[i].city[j].cityName %> </a></li>

                <% } %>

            </ul>
        <% } %>
            
            <!-- <ul id=""> 
                <li>Delaware<ul>
                    <li><a href='/locations/:index'>San Diego</a></li>
                    <li><a href=''>Los Angeles</a></li>
                    <li><a href=''>Sacramento</a></li>
                </ul></li> <br/>

                
                <li>Pennsylvania<ul>
                    <li><a href=''>Denver</a></li>
                    <li><a href=''>Centennial</a></li>
                    <li><a href=''>Colorado Springs</a></li>
                </ul></li> <br/>
                
                
                <li>Maryland<ul>
                    <li><a href=''>Chicago</a></li>
                    <li><a href=''>Peoria</a></li>
                    <li><a href=''>Rockford</a></li>
                </ul></li> <br/>
                
                <li>Virginia<ul>
                    <li><a href=''>Charleston</a></li>
                    <li><a href=''>Conway</a></li>
                    <li><a href=''>Columbia</a></li>
                </ul></li> <br/>

                <li>North Carolina<ul>
                    <li><a href=''>Fairfax</a></li>
                    <li><a href=''>Lorton</a></li>
                    <li><a href=''>Fredricksburg</a></li>
                </ul></li> <br/>


            </ul> -->

            


        </section>
    </main>
    
</body>
</html>