<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <script defer src="/js/app.js"></script>
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>

        <h1>
            <%= `${locationid}, ${location}` %>
        </h1>

        <ul> 
        <% if (!pet) { %>
            <h4>No Pets at this location</h4>
            <% } else { %>
                <% for (let i = 0; i < pet.length; i++) { %>
                    <li> 
                        <a href="/pets/<%=pet[i]._id%>"><%=pet[i].name%></a> <br/>
                        <img src="<%= pet[i].image %>">
                    </li>
                    <% } %> 
                    <% } %> 
        </ul>

    </main>
    
</body>
</html>