<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/confirmadopt.css"/>
    <script defer src="/js/app.js"></script>
    <title>Confirmation</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>
    <main>
        <h1>Information Received</h1>
        <p>Thank you for cantacting us about your interest in adopting a pet. Your information has been recorded and you will be receiving an email from us shortly with the next steps in the adoption process</p>
    </main>

    <footer>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Ally Pittman & Nate Daniels </footer>
</body>
</html>