<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <script defer src="/js/app.js"></script>
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>
        <h1>Available Pets</h1>

        <ul id='available-animals'>

            <% if (pet.length) { %>
                <% for (let i = 0; i < pet.length; i++) { %>
                    <li>
                        <a href="/pets/<%=pet[i]._id%>">
                            <h4><%=pet[i].name%></h4>
                        </a>
                        <!--<a href="/locations"><%=//pet[i].location%></a>-->
                        <img class="pet-image" src="<%=pet[i].image%>">
                    </li>
                    <% } %>
            <% } else { %>
                <h4>Sorry No Pets</h4>
            <% } %>
            
        </ul>

    </main>
    
</body>
</html>