<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets4U</title>
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/pets">Available Pets</a>
            <a href="/locations">Search By Location</a>
            <a href="/pets/new">New Pet</a>
        </nav>
    </header>

    <main>
        <h1>Available Pets</h1>

        <ul id='available-animals'>
            <li><a href=''>Buddy</a></li>
            <li><a href=''>Toby</a></li>
            <li><a href=''>Sadie</a></li>
        </ul>

    </main>
    
</body>
</html>