body {
    background: linear-gradient(white, aquamarine) !important;
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

nav > a {
    padding: 10px;
}

h1 {
    margin-left: 80px;
    padding-top: 70px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.pet-adopt {
    padding-left: 25px;
}

img {
    width: 50%;
    height: 50%;
    padding-bottom: 25px;
}

form > label {
    display: inline-block;
    padding-right: 20px;
    width: 80px;
    font-family: 'Raleway', sans-serif;
}

form > input {
    display: inline-block;
}

form > button {
    margin-left: 125px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
}