body {
    background: linear-gradient(white, rgb(66, 165, 158)) !important;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

  main {
      text-align: center;
      width: 80%;
      margin: 0 auto;
  }

  .carousel {
    max-width: 970px;
    margin: 0 auto !important;
}

  .card {
      display: inline-block !important;
      margin-right: 45px;
      margin-top: 30px;
  }

  #locations-image {
    height: 185.5px;
    width: 200px;
    padding-top: 13px;
  }

  #newpetimage {
    height: 185.5px;
    width: 100%;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .card-body {
      padding-top: 7px !important;
      padding-bottom: 7px !important;
  }

  .card-text {
    padding-bottom: 7px !important;
  }

  footer, h1, h3 {
      padding-top: 30px;
  }

  p {
      padding-bottom: 30px;
  }