body {
    background: linear-gradient(white, aquamarine) !important;
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

nav > a {
    padding: 10px;
}

h1 {
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.pet-name{
    font-family: 'Roboto', sans-serif;
}

.pet-image {
    width: 100%;
    height: 100%;
}

.pet-listing {
    display: inline-block;
    position: relative;
    width: 50vh;
    height: 50vh;
    overflow: hidden;
}

li {
    position: absolute;
    padding: 15px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 30px;
  }