body {
    background: linear-gradient(white, aquamarine) !important;
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

nav > a {
    padding: 10px;
}

h1 {
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

h4 > img {
    padding-bottom: 8px;
}

.pet-name{
    font-family: 'Roboto', sans-serif;

}

.pet-image {
    width: 100%;
    height: 100%;
}

.pet-image-hide {
    overflow: hidden;
    height: 70%;
}

.pet-listing {
    display: inline-block;
    position: relative;
    width: 50vh;
    height: 50vh;
    /* overflow: hidden; */
    margin-top: 10px;
}

li {
    position: absolute;
    padding: 15px;
    list-style: none;
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 30px;
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
}

footer i {
    padding-right: 10px;
}

.fa-facebook:before, .fa-instagram:before, .fa-twitter:before {
    font-size: 30px;
    width: 15px;
    margin-bottom: 10px;
}

.social {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    /* float: right; */
    right: 0;
    padding-right: 20px;
}

.copyright {
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.pet-image {
    object-fit: contain;
}