body {
    background: linear-gradient(white, aquamarine) !important;
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

nav > a {
    padding: 10px;
}

img {
    width: 50%;
    height: 50%;
}

.pet-image {
    padding-bottom: 25px;
    padding-top: 5px;
}

.pet-text {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
}

.pet-info {
      padding-left: 30px;
      padding-top: 30px;
      width: 70%;
      font-family: 'Roboto', sans-serif;
}

.category {
      display:inline-block;
      padding-right: 15px;
      font-family: 'Raleway', sans-serif;
      text-decoration: underline;
}

form {
    padding-left: 30px;
    width: 70%;
}

.delete-butt {
      display: inline-block;
      /* padding-left: 30px; */
      font-family: 'Raleway', sans-serif;
}

.edit-delete {
      padding-left: 30px;
      font-family: 'Raleway', sans-serif;
      margin-top: 0px;
}

.adopt-butt {
    /* padding-left: 125px; */
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
  }
